{
  "bracketSpacing": true,
  "singleQuote": true,
  "experimentalTernaries": true,
  "printWidth": 140,
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindStylesheet": "./public/vibes/vintage/tw.css",
  "tailwindFunctions": ["clsx", "cn", "cva"]
}
