body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --animate-shine: shine var(--duration) infinite linear;
  --animate-aurora: aurora 8s ease-in-out infinite alternate;
}

.kq-light-shadow {
  box-shadow: 0 3px 2px -2px var(--color-kq-shadow);
}

html.dark [data-hide-on-theme='dark'],
html:not(.dark) [data-hide-on-theme='light'] {
  display: none;
}

.avatar-tilted-card-text-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  will-change: transform;
  transform: translateZ(30px);
}

.avatar-tilted-card-text-overlay-text {
  text-transform: capitalize;
  color: #fff;
  background: #0006;
  border-radius: 15px;
  margin: 2em;
  padding: 0.5rem 1em;
  box-shadow: 0 5px 30px #06060659;
}

.light-dashed-underline {
  text-decoration: underline;
  text-decoration-color: var(--color-kq-shadow);
  text-decoration-style: dashed;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}