@import 'tailwindcss';
@import 'tw-animate-css';
@import './tw-base.css';
@import './screen-sizes.css';

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.96 0.02 90.24);
  --foreground: oklch(0.38 0.02 64.34);
  --card: oklch(0.99 0.01 87.47);
  --card-foreground: oklch(0.38 0.02 64.34);
  --popover: oklch(0.99 0.01 87.47);
  --popover-foreground: oklch(0.38 0.02 64.34);
  --primary: oklch(0.62 0.08 65.54);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.88 0.03 85.57);
  --secondary-foreground: oklch(0.43 0.03 64.93);
  --muted: oklch(0.92 0.02 83.06);
  --muted-foreground: oklch(0.54 0.04 71.17);
  --accent: oklch(0.83 0.04 88.81);
  --accent-foreground: oklch(0.38 0.02 64.34);
  --destructive: oklch(0.55 0.14 32.91);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.86 0.03 84.59);
  --input: oklch(0.86 0.03 84.59);
  --ring: oklch(0.62 0.08 65.54);
  --chart-1: oklch(0.62 0.08 65.54);
  --chart-2: oklch(0.56 0.06 68.58);
  --chart-3: oklch(0.49 0.06 72.68);
  --chart-4: oklch(0.68 0.06 64.78);
  --chart-5: oklch(0.73 0.06 66.7);
  --sidebar: oklch(0.92 0.02 83.06);
  --sidebar-foreground: oklch(0.38 0.02 64.34);
  --sidebar-primary: oklch(0.62 0.08 65.54);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.83 0.04 88.81);
  --sidebar-accent-foreground: oklch(0.38 0.02 64.34);
  --sidebar-border: oklch(0.86 0.03 84.59);
  --sidebar-ring: oklch(0.62 0.08 65.54);
  --radius: 0.625rem;
  --shadow-2xs: 2px 3px 5px 0px hsl(28 13% 20% / 0.01);
  --shadow-xs: 2px 3px 5px 0px hsl(28 13% 20% / 0.01);
  --shadow-sm: 2px 3px 5px 0px hsl(28 13% 20% / 0.02), 2px 1px 2px -1px hsl(28 13% 20% / 0.02);
  --shadow: 2px 3px 5px 0px hsl(28 13% 20% / 0.02), 2px 1px 2px -1px hsl(28 13% 20% / 0.02);
  --shadow-md: 2px 3px 5px 0px hsl(28 13% 20% / 0.02), 2px 2px 4px -1px hsl(28 13% 20% / 0.02);
  --shadow-lg: 2px 3px 5px 0px hsl(28 13% 20% / 0.02), 2px 4px 6px -1px hsl(28 13% 20% / 0.02);
  --shadow-xl: 2px 3px 5px 0px hsl(28 13% 20% / 0.02), 2px 8px 10px -1px hsl(28 13% 20% / 0.02);
  --shadow-2xl: 2px 3px 5px 0px hsl(28 13% 20% / 0.05);

  --grey-1: oklch(0.92 0.02 83.06);
  --green-1: #009933;
  --yellow-1: #ffcc00;

  --color-link-internal: oklch(0.45 0.18 260);

  --font-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --font-fun: var(--font-cherry-bomb-one), cursive;
}

.dark {
  --background: oklch(0.27 0.01 57.65);
  --foreground: oklch(0.92 0.02 83.06);
  --card: oklch(0.32 0.02 59.06);
  --card-foreground: oklch(0.92 0.02 83.06);
  --popover: oklch(0.32 0.02 59.06);
  --popover-foreground: oklch(0.92 0.02 83.06);
  --primary: oklch(0.73 0.06 66.7);
  --primary-foreground: oklch(0.27 0.01 57.65);
  --secondary: oklch(0.38 0.02 57.13);
  --secondary-foreground: oklch(0.92 0.02 83.06);
  --muted: oklch(0.32 0.02 59.06);
  --muted-foreground: oklch(0.8 0.02 82.11);
  --accent: oklch(0.42 0.03 56.34);
  --accent-foreground: oklch(0.92 0.02 83.06);
  --destructive: oklch(0.55 0.14 32.91);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.38 0.02 57.13);
  --input: oklch(0.38 0.02 57.13);
  --ring: oklch(0.73 0.06 66.7);
  --chart-1: oklch(0.73 0.06 66.7);
  --chart-2: oklch(0.68 0.06 64.78);
  --chart-3: oklch(0.62 0.08 65.54);
  --chart-4: oklch(0.56 0.06 68.58);
  --chart-5: oklch(0.49 0.06 72.68);
  --sidebar: oklch(0.27 0.01 57.65);
  --sidebar-foreground: oklch(0.92 0.02 83.06);
  --sidebar-primary: oklch(0.73 0.06 66.7);
  --sidebar-primary-foreground: oklch(0.27 0.01 57.65);
  --sidebar-accent: oklch(0.42 0.03 56.34);
  --sidebar-accent-foreground: oklch(0.92 0.02 83.06);
  --sidebar-border: oklch(0.38 0.02 57.13);
  --sidebar-ring: oklch(0.73 0.06 66.7);
  --radius: 0.625rem;
  --shadow-2xs: 2px 3px 5px 0px hsl(28 13% 20% / 0.01);
  --shadow-xs: 2px 3px 5px 0px hsl(28 13% 20% / 0.01);
  --shadow-sm: 2px 3px 5px 0px hsl(28 13% 20% / 0.02), 2px 1px 2px -1px hsl(28 13% 20% / 0.02);
  --shadow: 2px 3px 5px 0px hsl(28 13% 20% / 0.02), 2px 1px 2px -1px hsl(28 13% 20% / 0.02);
  --shadow-md: 2px 3px 5px 0px hsl(28 13% 20% / 0.02), 2px 2px 4px -1px hsl(28 13% 20% / 0.02);
  --shadow-lg: 2px 3px 5px 0px hsl(28 13% 20% / 0.02), 2px 4px 6px -1px hsl(28 13% 20% / 0.02);
  --shadow-xl: 2px 3px 5px 0px hsl(28 13% 20% / 0.02), 2px 8px 10px -1px hsl(28 13% 20% / 0.02);
  --shadow-2xl: 2px 3px 5px 0px hsl(28 13% 20% / 0.05);

  --grey-1: oklch(0.38 0.02 57.13);

  --color-link-internal: oklch(0.85 0.12 260);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --color-link-internal: var(--color-chart-5);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --font-sans: var(--font-sans);
  --font-serif: var(--font-serif);
  --font-mono: var(--font-mono);
  --font-fun: var(--font-fun);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Custom utility classes */
@layer layout-utilities {
  html {
    scrollbar-gutter: stable;
  }

  body[data-scroll-locked] {
    margin-right: 0px !important;
  }
}

@layer other-colors {
  :root {
    --color-kq-shadow: rgba(0, 0, 0, 0.1);
  }
  .dark {
    --color-kq-shadow: rgb(89, 89, 89);
  }
}

@layer app-top-loader {
  :root {
    --app-top-loader-color: #3b673f;
  }
  .dark {
    --app-top-loader-color: #b6c89f;
  }
}

@layer link-color-utils {
  :root {
    --link-internal: var(--color-link-internal);
    --link-external-foreground: #2c58a8;
  }
  .dark {
    --link-internal: var(--color-link-internal);
    --link-external-foreground: #2c58a8;
  }
}

@layer text-color-utils {
  :root {
    a.external {
      color: var(--color-accent-foreground);
      text-decoration: underline;
      text-underline-offset: 1px;
      text-decoration-thickness: 1px;
    }

    a:not([role='menuitem']):not([data-slot='sidebar-menu-button']):not([data-slot='sidebar-menu-sub-button']):not([role='tab']):not(
        [data-slot='popover-trigger']
      ) {
      color: var(--link-internal);
      font-weight: 400;

      &:hover {
        text-decoration: underline;
        text-underline-offset: 3px;
        text-decoration-thickness: 1px;
      }
    }

    .text-lightish {
      color: #202124;
    }
    .text-light {
      color: #484a51;
    }
    .text-lighter {
      color: #6c6f7a;
    }
    .text-lighter-more {
      color: #ccc;
    }
  }
  .dark {
    .text-lightish {
      color: #d6d7db;
    }
    .text-light {
      color: #aeb0b7;
    }
    .text-lighter {
      color: #858893;
    }
    .text-lighter-more {
      color: #a0a3ab;
    }
  }
}

@layer app-colors {
  .logo-text-color {
    color: #3b673f;
  }
  .dark {
    .logo-text-color {
      color: #b6c89f;
    }
  }
}

@layer app-sidebar-menu {
  .app-sidebar-menu a[data-active='true'] {
    background-color: var(--primary);
    color: var(--primary-foreground);
  }

  .app-sidebar-menu a[data-active='true']:hover {
    background-color: color-mix(in oklch, var(--primary) 90%, transparent);
  }
}

/* Custom font utilities */
@layer utilities {
  .font-fun {
    font-family:
      var(--font-fun),
      system-ui,
      -apple-system,
      Segoe UI,
      Roboto,
      Helvetica,
      Arial,
      'Apple Color Emoji',
      'Segoe UI Emoji',
      'Segoe UI Symbol',
      sans-serif;
  }
  .font-fun-important {
    font-family:
      var(--font-fun),
      system-ui,
      -apple-system,
      Segoe UI,
      Roboto,
      Helvetica,
      Arial,
      'Apple Color Emoji',
      'Segoe UI Emoji',
      'Segoe UI Symbol',
      sans-serif !important;
  }
}

@layer typography-utils {
  .h1 {
    @apply text-4xl leading-10 font-semibold tracking-tight;
  }
  .h2 {
    @apply text-3xl leading-9 font-semibold tracking-tight;
  }
  .h3 {
    @apply text-2xl leading-8 font-semibold tracking-tight;
  }
  .h4 {
    @apply text-xl leading-7 font-semibold tracking-normal;
  }
  .h5 {
    @apply text-lg leading-7 font-semibold tracking-normal;
  }
  .h6 {
    @apply text-base leading-6 font-semibold tracking-normal;
  }
  .p {
    @apply text-[0.875rem] leading-5 tracking-normal [&:not(:first-child)]:mt-6;
  }
  .body0 {
    @apply text-[0.75rem] leading-4 tracking-normal;
  }
  .body1 {
    @apply text-[0.875rem] leading-5 tracking-normal;
  }
  .body2 {
    @apply text-[1rem] leading-6 tracking-normal;
  }
}
