@theme inline {
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  --animate-shine: shine var(--duration) infinite linear;
  --animate-aurora: aurora 8s ease-in-out infinite alternate;
  --animate-meteor: meteor 5s linear infinite;
}
