:root {
  --background: oklch(0.9551 0.0103 67.7026);
  --foreground: oklch(0.2498 0.0173 42.9071);
  --card: oklch(0.9751 0.0068 67.7448);
  --card-foreground: oklch(0.2498 0.0173 42.9071);
  --popover: oklch(0.9751 0.0068 67.7448);
  --popover-foreground: oklch(0.2498 0.0173 42.9071);
  --primary: oklch(0.5599 0.0320 74.0121);
  --primary-foreground: oklch(0.9751 0.0068 67.7448);
  --secondary: oklch(0.5994 0.1963 255.3334);
  --secondary-foreground: oklch(0.9607 0.0148 251.1566);
  --muted: oklch(0.9011 0.0122 67.6715);
  --muted-foreground: oklch(0.4496 0.0199 46.3141);
  --accent: oklch(0.5176 0.1901 291.5472);
  --accent-foreground: oklch(0.9588 0.0202 295.1898);
  --destructive: oklch(0.5505 0.1800 25.0223);
  --destructive-foreground: oklch(0.9551 0.0103 67.7026);
  --border: oklch(0.8392 0.0175 61.9147);
  --input: oklch(0.9211 0.0097 72.6571);
  --ring: oklch(0.4990 0.0701 55.0114);
  --chart-1: oklch(0.4990 0.0701 55.0114);
  --chart-2: oklch(0.5500 0.1099 250.1359);
  --chart-3: oklch(0.5209 0.1194 295.0948);
  --chart-4: oklch(0.5792 0.1499 24.8703);
  --chart-5: oklch(0.6997 0.0799 350.3073);
  --sidebar: oklch(0.9345 0.0121 67.6783);
  --sidebar-foreground: oklch(0.2498 0.0173 42.9071);
  --sidebar-primary: oklch(0.4990 0.0701 55.0114);
  --sidebar-primary-foreground: oklch(0.9751 0.0068 67.7448);
  --sidebar-accent: oklch(0.5209 0.1194 295.0948);
  --sidebar-accent-foreground: oklch(0.9588 0.0202 295.1898);
  --sidebar-border: oklch(0.8595 0.0148 64.3148);
  --sidebar-ring: oklch(0.4990 0.0701 55.0114);

  --font-sans: var(--font-geist-sans);
  --font-serif: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-fun: var(--font-cherry-bomb-one);

  --radius: 0.5rem;
  --shadow-x: 1px;
  --shadow-y: 2px;
  --shadow-blur: 5px;
  --shadow-spread: 1px;
  --shadow-opacity: 0.06;
  --shadow-color: hsl(0 0% 0%);
  --shadow-2xs: 1px 2px 5px 1px hsl(0 0% 0% / 0.03);
  --shadow-xs: 1px 2px 5px 1px hsl(0 0% 0% / 0.03);
  --shadow-sm: 1px 2px 5px 1px hsl(0 0% 0% / 0.06), 1px 1px 2px 0px hsl(0 0% 0% / 0.06);
  --shadow: 1px 2px 5px 1px hsl(0 0% 0% / 0.06), 1px 1px 2px 0px hsl(0 0% 0% / 0.06);
  --shadow-md: 1px 2px 5px 1px hsl(0 0% 0% / 0.06), 1px 2px 4px 0px hsl(0 0% 0% / 0.06);
  --shadow-lg: 1px 2px 5px 1px hsl(0 0% 0% / 0.06), 1px 4px 6px 0px hsl(0 0% 0% / 0.06);
  --shadow-xl: 1px 2px 5px 1px hsl(0 0% 0% / 0.06), 1px 8px 10px 0px hsl(0 0% 0% / 0.06);
  --shadow-2xl: 1px 2px 5px 1px hsl(0 0% 0% / 0.15);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.1900 0.0132 44.4135);
  --foreground: oklch(0.9103 0.0122 67.6734);
  --card: oklch(0.2401 0.0161 45.2507);
  --card-foreground: oklch(0.9103 0.0122 67.6734);
  --popover: oklch(0.2401 0.0161 45.2507);
  --popover-foreground: oklch(0.9103 0.0122 67.6734);
  --primary: oklch(0.7355 0.0253 59.2578);
  --primary-foreground: oklch(0.1900 0.0132 44.4135);
  --secondary: oklch(0.5998 0.1006 250.2481);
  --secondary-foreground: oklch(0.9507 0.0145 244.7185);
  --muted: oklch(0.2693 0.0156 45.3191);
  --muted-foreground: oklch(0.6492 0.0149 60.4480);
  --accent: oklch(0.6198 0.1095 294.9767);
  --accent-foreground: oklch(0.9498 0.0203 295.1851);
  --destructive: oklch(0.5993 0.1597 24.9573);
  --destructive-foreground: oklch(0.1900 0.0132 44.4135);
  --border: oklch(0.3391 0.0180 45.8778);
  --input: oklch(0.2896 0.0153 45.3586);
  --ring: oklch(0.6490 0.0798 55.2742);
  --chart-1: oklch(0.6490 0.0798 55.2742);
  --chart-2: oklch(0.5998 0.1006 250.2481);
  --chart-3: oklch(0.6198 0.1095 294.9767);
  --chart-4: oklch(0.6500 0.1396 24.8577);
  --chart-5: oklch(0.7488 0.0802 349.6200);
  --sidebar: oklch(0.1694 0.0095 42.9788);
  --sidebar-foreground: oklch(0.9103 0.0122 67.6734);
  --sidebar-primary: oklch(0.6490 0.0798 55.2742);
  --sidebar-primary-foreground: oklch(0.1900 0.0132 44.4135);
  --sidebar-accent: oklch(0.6198 0.1095 294.9767);
  --sidebar-accent-foreground: oklch(0.9498 0.0203 295.1851);
  --sidebar-border: oklch(0.2896 0.0153 45.3586);
  --sidebar-ring: oklch(0.6490 0.0798 55.2742);

  --font-sans: var(--font-geist-sans);
  --font-serif: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-fun: var(--font-cherry-bomb-one);

  --radius: 0.5rem;
  --shadow-x: 1px;
  --shadow-y: 2px;
  --shadow-blur: 5px;
  --shadow-spread: 1px;
  --shadow-opacity: 0.06;
  --shadow-color: hsl(0 0% 0%);
  --shadow-2xs: 1px 2px 5px 1px hsl(0 0% 0% / 0.03);
  --shadow-xs: 1px 2px 5px 1px hsl(0 0% 0% / 0.03);
  --shadow-sm: 1px 2px 5px 1px hsl(0 0% 0% / 0.06), 1px 1px 2px 0px hsl(0 0% 0% / 0.06);
  --shadow: 1px 2px 5px 1px hsl(0 0% 0% / 0.06), 1px 1px 2px 0px hsl(0 0% 0% / 0.06);
  --shadow-md: 1px 2px 5px 1px hsl(0 0% 0% / 0.06), 1px 2px 4px 0px hsl(0 0% 0% / 0.06);
  --shadow-lg: 1px 2px 5px 1px hsl(0 0% 0% / 0.06), 1px 4px 6px 0px hsl(0 0% 0% / 0.06);
  --shadow-xl: 1px 2px 5px 1px hsl(0 0% 0% / 0.06), 1px 8px 10px 0px hsl(0 0% 0% / 0.06);
  --shadow-2xl: 1px 2px 5px 1px hsl(0 0% 0% / 0.15);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);
  --font-fun: var(--font-fun);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}


@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .font-sans {
    font-family:
      var(--font-outfit),
      system-ui,
      -apple-system,
      Segoe UI,
      Roboto,
      Helvetica,
      Arial,
      'Apple Color Emoji',
      'Segoe UI Emoji',
      'Segoe UI Symbol',
      sans-serif;
  }
  .font-serif {
    font-family:
      var(--font-lora),
      system-ui,
      -apple-system,
      Segoe UI,
      Roboto,
      Helvetica,
      Arial,
      'Apple Color Emoji',
      'Segoe UI Emoji',
      'Segoe UI Symbol',
      sans-serif;
  }
  .font-mono {
    font-family:
      var(--font-fira-code),
      system-ui,
      -apple-system,
      Segoe UI,
      Roboto,
      Helvetica,
      Arial,
      'Apple Color Emoji',
      'Segoe UI Emoji',
      'Segoe UI Symbol',
      sans-serif;
  }
}
