::-webkit-scrollbar {
  width: 10px; 
}
::-webkit-scrollbar-track {
  background-color: var(--sidebar); 
}
::-webkit-scrollbar-thumb {
  background-color: var(--sidebar-border); 
  border-radius: 24px; 
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--sidebar-border); 
}


#app-sidebar ::-webkit-scrollbar {
  width: 4px; 
}

#app-sidebar ::-webkit-scrollbar-track {
  background-color: var(--sidebar); 
}

#app-sidebar ::-webkit-scrollbar-thumb {
  background-color: var(--sidebar-border); 
  border-radius: 24px; 
}

#app-sidebar ::-webkit-scrollbar-thumb:hover {
  background-color: var(--sidebar-border); 
}

div[data-slot="sidebar-content"] {
  overflow-y: hidden;
  scrollbar-gutter: stable;
}

div[data-slot="sidebar-content"]:hover {
  overflow-y: auto;
}



